@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Adding google font poppins */
html,
body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ## -- Customizing Swipper JS Buttons -- ## */

/* Next Button */
.swiper-button-next {
  background-image: url(/images/upnextBtn.png);
  background-repeat: no-repeat;
  background-size: 110% auto;
  background-position: center;
  top: 22px !important;
}

.swiper-button-next::after {
  display: none;
}

/* Previous Button */
.swiper-button-prev {
  background-image: url(/images/previousBtn.png);
  background-repeat: no-repeat;
  background-size: 110% auto;
  background-position: center;
  right: 12px !important;
  top: 22px !important;
  left: auto !important;
  right: 42px !important;
}

.swiper-button-prev::after {
  display: none;
}

/* Customizing the Progress Bar */
.swiper-pagination-progressbar-fill {
  background-color: #27AE60 !important;
}